.user_name{
    color: whitesmoke;
    margin: auto;
}

.navbar_icon{
    color: whitesmoke;
    font-size: 2rem;
    margin: 0 1rem;
}

.navigation_property{
    color: whitesmoke;
    font-size: 1.1rem;
}

/*.button_style{
    color: whitesmoke;
    background-color: black;
}*/
